@import 'resets', 'typography';

html, body { height: 100vh; }
body {
    font-family: $ff-sans-serif;
    display: flex;
    flex-direction: column;
}
nav {
    border-bottom: thin solid;
    padding: 1em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    span.brand {
        display: block;
        font-size: 1.2em;
    }
}
main {
    flex: 1 1 auto;
}
footer {
    padding: 0.5em 1em;
    border-top: thin solid;
}